<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- <TelemetryChannel Type="Microsoft.ApplicationInsights.Channel.PersistenceChannel, Microsoft.ApplicationInsights.PersistenceChannel" /> -->
  <!-- This key is for Application Insights resource 'RdClient.Windows' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>AIF-d41cd056-add9-4e8c-a75a-bdfa9b119410</InstrumentationKey>
  <TelemetryChannel Type="Microsoft.ApplicationInsights.Channel.PersistenceChannel, Microsoft.ApplicationInsights.PersistenceChannel">
    <!-- Vortex endpoint -->
    <EndpointAddress>https://vortex.data.microsoft.com/collect/v1</EndpointAddress>
  </TelemetryChannel>
</ApplicationInsights>
